/* < !-- ------- Aufgabe 1 ------- lev CodeFlow Übung lev1_2: getElementsByClassName ------- -->.style {
    display: inline-block;
    border-radius: 5px;
    background: #666;
    color: white;
    padding: 5px;
}


.example {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

}

< !-- ------- Aufgabe 1 ------- lev CodeFlow Übung lev1_2: getElementsByClassName ------- --> */
/* <!-- ------- Aufgabe 2 ------- CodeFlow Übung lev2_1: DOM Elements ------- --> */

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
} */
/* <!-- ------- Aufgabe 2 ------- CodeFlow Übung lev2_1: DOM Elements ------- --> */
/* <!-- ------- Aufgabe 3 ------- CodeFlow Übung lev2_1: DOM Elements ------- --> */
/* input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */
/* <!-- ------- Aufgabe 3 ------- CodeFlow Übung lev2_1: DOM Elements ------- --> */
/* <!-- ------- Aufgabe 4 ------- CodeFlow Übung lev2_3: getElementsByTagName ------- --> */


/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
} */

/* <!-- ------- Aufgabe 4 ------- CodeFlow Übung lev2_3: getElementsByTagName ------- --> */
/* <!-- ------- Aufgabe 5 ------- CodeFlow Übung lev2_4: DOM Background Colors ------- --> */

/* form {
    padding: 5px;
    display: inline-block;
    background: #999;
    border-radius: 5px;
}

input {
    background: #333;
    color: white;
} */

/* < !-- ------- Aufgabe 5 ------- CodeFlow Übung lev2_4: DOM Background Colors ------- -->*/
/* <!-- ------- Aufgabe 6 ------- Projekt lev3_3: Kalorien-Rechner ------- --> */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    width: 45vh;
    border-radius: 15px;
    background: linear-gradient(rgb(188, 221, 231), rgb(13, 78, 109));
    padding: 2vh;
}

h1,
h2 {
    color: rgb(11, 40, 53);
    opacity: 0.7;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 2.5vh;
}

input {
    width: 320px;
    font-size: 2vh;
    padding: 0.7vh;
}

input[type="button"],
input[type="radio"] {
    width: initial;
}

select {
    font-size: 1.5vh;
    color: rgb(97, 110, 122);
}

input[type="button"] {
    font-size: 2vh;
    margin: 2vh;
    float: right;
    background-color: goldenrod;
    padding: 0.7vh;
    border-radius: 10px;
    border: none;
}

input[type="button"]:active {
    transform: scale(0.9);
}

input[type="button"]:focus {
    outline: none;
}

table {
    padding: 1vh;
    width: 43vh;
    margin-top: 5vh;
    border: 1px solid rgb(98, 172, 201);
    opacity: 0.8;
    border-collapse: collapse;
}

td {
    border: 1px solid rgb(98, 172, 201);
    outline: 0;
    width: 33%;
    padding: 0.5vh;
}

th {
    border: 1px solid rgb(98, 172, 201);
    padding: 0.5vh;
}

@media (max-width:480px) {
    section {
        border-radius: none;
        height: 100vh;
    }
}

/* <!-- ------- Aufgabe 6 ------- Projekt lev3_3: Kalorien-Rechner ------- --> */